
.MainContainer{
    width:45%;
    height:70%;
    background-color:#B0DB9C;
    border-radius:20px;
    padding: 1rem;
}

.container-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100%;
}

.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header button{
    border:none;
    width:100px;
    height:2rem;
    border-radius:10px;
    background-color:#C3B1E1;
    cursor:pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header button:hover{
    background-color:#9A85B9;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.modal-content form h2 {
    margin-bottom: 1.5rem;
}

.modal-content form button[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    background-color: #B0DB9C;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.modal-content form button[type="submit"]:hover {
    background-color: #9A85B9;
}