.login-container-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.login-box{
    background-color:white;
    height:40%;
    width:17%;
    padding: 2%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title{
    font-size:22px
}

.input{
    display:flex;
    flex-direction:column;
    padding-top:1rem;
    width:100%;
}

.login-title{
    display:flex;
    align-items: center;
    justify-content:center;
    font-weight:700;
}

.input input{
    height:2rem;
    border:none;
    background-color:lightgray;
}

.input input::placeholder{
    text-indent:10px;
}

.submit{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:1rem;
}

.login-button{
    background-color:#D0E8CB;
}

.dummy-login-button{
    background-color:#FAA0A0;
}

.button:hover{
    background-color:darkgrey;
}

.button{
    width:100%;
    height:2rem;
    border:none;
    cursor:pointer;
}

.register{
    padding-top:0.8rem;
    display:flex;
    align-items: center;
    justify-content:center;
}

.register p{
    font-size:10px
}

