

.todo-container{
    background-color:white;
    padding:1rem;
    margin-top:1rem;
    border-radius:15px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

.todo-container p{
    padding-left:1rem;
}

.todo-container input{
    margin-left:1rem;
}

.todo-container input[type="text"]{
    font-size:1rem;
    font-family: 'Lato', sans-serif;
    width:90%;
}

.todo.container input[type="text"]:active{
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}


.todo-container .done {
    text-decoration:line-through;
}

.todo-container .buttons{
    display:flex;
    flex-direction:row;
    gap:0.8rem;
}

.todo-container .content{
    display:flex;
    flex-direction:row;
    flex:1;
}

.todo-container img{
    width:1.5rem;
    height:1.5rem;
    cursor:pointer;
}